html{
    cursor: url(images/mouse_skin.png) auto ;

}

body{
   
    background-image: url(images/wallpaper.jpg) ; 
    background-repeat: no-repeat;
    height: 100vh; 
    overflow: hidden; 
    margin: 0; 
    padding: 0;
    
}

.cat{
 width: 100px;
 height: 100px;
}

.cat2{
    width: 150px;
    height: 150px;
   }
.cat3{
    width: 200px;
    height: 200px;
   }
.cat4{
    width: 300px;
    height: 300px;
   }
.cat5{
    width: 250px;
    height: 250px;
   }
   /* define uma transformação que redimensiona um elemento 2D */
.ladoA{
    transform:  scaleX(1);
} 

.ladoB{
    transform:  scaleX(-1);
}  

.painel{
   
    position: absolute;
    height: 200px;
    width: 500px;
    padding: 10px;
    left:0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;

}
.vidas{
    float: left;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.temporizador{
    height: 300px;
    width: 300px;
    float: left;
    font-size: 30px;
    font-weight: bold;
}


.container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
.catover{
    height: 800px;
    width: 800px;
}


